<!DOCTYPE html>
<html>
<head>
  <title>Joinme</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
		<iframe src="https://join.me/" style="border:0px #FFFFFF none;" name="JoinMe" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" height="1080px" width="1920px"></iframe>
<%= yield %>

</body>
</html>
